<h1>Title & Description</h1>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span class="if-collapsed">Expand</span>
    <span class="if-not-collapsed">Close</span>
  </a>
</p>
<div class="collapse" id="collapseExample">
 <p>Jelena</p>
</div>