<table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Expires in</th>
      </tr>
    </thead>
    <tbody>
    <% @pending_users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>Pending</td>
        <td><%= user.distance_of_time %></td>
      </tr>
      <%end%>
    </tbody>
  </table>