
<%= link_to 'Invite People', user_invite_path, :remote => true, class: (current_user.admin?) ? 'btn btn-primary' : 'btn btn-primary disabled'%>
<div id="user_invite">
   
</div>
<%= render 'users/team/invitation_status_table' %>
</br>
<%= render partial: 'users/team/team_members' %>
