// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.k-background{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
 
.k-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 2px solid black;
  width: 700px;
  padding: 30px;
  box-shadow: 5px 10px;
}

.k-story-btn{
  margin: 5px;
}